/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 3>;
        };

        right_bkt {
            bindings = <&kp RBKT>;
            key-positions = <7 6>;
        };

        left_par {
            bindings = <&kp LPAR>;
            key-positions = <13 12>;
        };

        right_par {
            bindings = <&kp RPAR>;
            key-positions = <16 17>;
        };

        left_brc {
            bindings = <&kp LBRC>;
            key-positions = <22 23>;
        };

        right_brc {
            bindings = <&kp RBRC>;
            key-positions = <26 27>;
        };

        blsh {
            bindings = <&kp BSLH>;
            key-positions = <4 5>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <14 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R      &kp T          &kp Y      &kp U          &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F      &kp G          &kp H      &kp J          &kp K      &kp L    &kp EXCLAMATION
&kp Z  &kp X  &kp C  &kp V      &kp B          &kp N      &kp M          &kp COMMA  &kp DOT  &kp QUESTION
                     &kp RCTRL  &lt 1 ENTER    &kp SPACE  &kp BACKSPACE
            >;
        };

        nav_layer {
            bindings = <
&kp ESC      &kp CAPSLOCK  &kp UP_ARROW    &kp TAB    &kp PAGE_UP    &kp PAGE_DOWN   &kp NUMBER_4       &kp NUMBER_5  &kp NUMBER_6  &kp N0
&kp AT_SIGN  &kp LEFT      &kp DOWN_ARROW  &kp RIGHT  &kp DELETE     &kp LEFT_SHIFT  &kp NUMBER_1       &kp NUMBER_2  &kp NUMBER_3  &kp DOUBLE_QUOTES
&trans       &trans        &trans          &trans     &trans         &kp LCTRL       &kp NUMBER_7       &kp NUMBER_8  &kp NUMBER_9  &kp END
                                           &trans     &trans         &kp COLON       &kp DOUBLE_QUOTES
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
